html, body {
    margin: 0;
    padding: 0;
    width: 105%;
    height: 100%;
    overflow-x: hidden;
}




body{
    font-family:'Poppins',sans-serif;
    background:linear-gradient(135deg,#3d1459,#7b2cbf,#9B3FAE);
    color:white;
    overflow-x:hidden;
    line-height:1.8;
}





#bgvideo1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}




.menu-btn{
    position:fixed;
    top:20px;
    left:20px;

    width:55px;
    height:55px;

    display:flex;
    justify-content:center;
    align-items:center;

    background:white;
    color:#0a060d;

    border-radius:12px;

    font-size:28px;
    cursor:pointer;

    box-shadow:0 8px 20px rgba(0,0,0,.3);

    transition:.3s;

    z-index:9999;
}



.menu-btn:hover{
    transform:scale(1.1);
    
}





.top-menu{
    position:fixed;
    top:-100%;
    left:0;

    width:100%;
    height:100%;

    background:rgba(20,20,40,.95);

    backdrop-filter:blur(10px);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    transition:.5s;

    z-index:9998;
}




.top-menu.show{
    top:0;
}



.close-btn{
    position:absolute;
    top:20px;
    right:35px;

    font-size:45px;

    color:white;

    cursor:pointer;
}



.top-menu a{

    color:white;

    font-size:24px;

    font-family:'Cinzel',serif;

    margin:15px;

    transition:.3s;
}



.top-menu a:hover{

    color:#FFD700;

    transform:translateX(10px);
    
}




.hero{
    padding: 120px 20px 90px;
    text-align: center;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;   
}



.hero-content{
    max-width: 100px;
    margin: 0 auto;
}



.hero h1{
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 800;
    margin-top: 200px;
    margin-bottom: 400px;
    letter-spacing:10px;
    font-family:'Cinzel',serif;
    color: #FFD700;
}



h2{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    font-weight: 700;
    margin-top: 20px;
    color: #0c0c0c;
}



p{
    font-size: 12px;
    color:#efe9f0;
    line-height: 1.8;
    margin-top: 10px;
    max-width: 600px;
    word-wrap: break-word;
}




.container{
    max-width: 1050px;
    margin: auto;
    padding: 0 20px 80px;
}



img{
    border-radius: 2000px;
    position: center;
    justify-content: center; 
    align-items: center;     
    width: 300px;
    animation: cinematicZoom 6s ease-in-out infinite alternate;
}



@keyframes cinematicZoom {
  from { transform: scale(1); }
  to { transform: scale(1.15); }
}


a {
    text-decoration: none;
}



.scroll-btn{
    margin-top:40px;
    padding:14px 30px;
    border:none;
    border-radius:50px;
    background:linear-gradient(90deg,#ff9933,#138808);
    color:white;
    font-weight:bold;
    cursor:pointer;
}




.timeline{
    width:90%;
    max-width:1200px;
    margin:0 auto 100px;
    position:relative;
    padding: 50px 20px;
}




.card{
    width:60%;
    margin:50px 0;
    background:rgba(255,255,255,0.05);
    padding:20px;
    border-radius:15px;
    transition:0.3s;
    position:relative;
    cursor:pointer;
}



.card:hover{
    transform:translateY(-10px);
}



.card img{
    width:100%;
    border-radius:15px;
    margin-bottom:15px;
}




.hidden {
    display: none;
}




.dance-card {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 800px;
    margin: 0 auto 50px;
    padding: 0 20px;
}



.dance-card.right {
    flex-direction: row-reverse;
}


.dance-card img {
    width: 300px;
    border-radius: 15px;
    cursor: pointer;
}



.text {
    flex: 1;
    color: white;
}



@media (max-width: 768px) {
    .dance-card,
    .dance-card.right {
        flex-direction: column;
        text-align: center;
    }

    .dance-card img {
        width: 100%;
        max-width: 300px;
    }
}




.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    padding:20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    justify-items: center;
    margin-top: 40px;
}








.section{
    display:none;
    padding:30px;
    background:white;
    margin:20px;
    border-radius:20px;
}



video{
    width:70%;
    border-radius:20px;
}



button{
    padding:10px 20px;
    border:none;
    background:#ff6b6b;
    color:white;
    border-radius:10px;
    cursor:pointer;
}



.hero{
    height:100vh;
    background:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}



.hero-content{
    background:rgba(0,0,0,0.6);
    padding:40px;
    border-radius:20px;
}



.hero h1{
    font-size:60px;
    color:#FFD700;
    text-shadow:0 0 20px gold;
}



.hero p{
    font-size:22px;
    margin-top:15px;
}



.hero button{
    margin-top:20px;
    padding:15px 30px;
    border:none;
    border-radius:30px;
    background:#ff9800;
    color:white;
    font-size:18px;
    cursor:pointer;
}



.hero button:hover{
    transform:scale(1.1);
}




.title{
    text-align:center;
    margin-top:50px;
    color:#FFD700;
    font-size:40px;
}




.gallery{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:25px;
    padding:40px;
}




.flip-card{
    width:250px;
    height:320px;
    perspective:1000px;
}



.flip-inner{
    width:100%;
    height:100%;
    position:relative;
    transition:0.8s;
    transform-style:preserve-3d;
}



.flip-card:hover .flip-inner{
    transform:rotateY(180deg);
}



.front,.back{
    position:absolute;
    width:100%;
    height:100%;
    border-radius:20px;
    backface-visibility:hidden;
    overflow:hidden;
}



.front img{
    width:100%;
    height:100%;
    object-fit:cover;
}



.back{
    background:#ff9800;
    color:white;
    transform:rotateY(180deg);
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    padding:20px;
}



.back h3{
    margin-bottom:15px;
}




.food{
    position:fixed;
    font-size:30px;
    animation:float 6s infinite ease-in-out;
}



.food1{left:5%;top:15%;}


.food2{right:5%;top:25%;}


.food3{left:10%;bottom:15%;}


.food4{right:10%;bottom:20%;}



@keyframes float{
    0%{transform:translateY(0);}
    50%{transform:translateY(-30px);}
    100%{transform:translateY(0);}
}








li{
    color:rgb(231, 223, 223);
    padding:20px;
    font-size:12px;

}



.gallery{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
    padding:20px;
}



.card{
    cursor:pointer;
    transition:0.4s;
}



.card:hover{
    transform:scale(1.1);
}



.card img{
    width:250px;
    border-radius:20px;
    box-shadow:0 0 15px gold;
}



.section{
    display:none;
    padding:30px;
    background:rgb(28, 7, 7);
    margin:20px;
    border-radius:20px;
}





.comment-icon{
    position:fixed;
    bottom:20px;
    right:20px;
    width:60px;
    height:60px;
    background:white;
    color:black;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:30px;
    cursor:pointer;
    box-shadow:0 4px 10px rgba(0,0,0,.3);
    z-index:999;
}



.comment-icon:hover{
    transform:scale(1.1);
}




.comment-box{
    position:fixed;
    bottom:90px;
    right:20px;
    width:320px;
    background:rgb(215, 204, 204);
    border-radius:10px;
    padding:20px;
    box-shadow:0 5px 20px rgba(0,0,0,.3);

    display:none;

    z-index:999;
}




.close-btn{
    float:right;
    cursor:pointer;
    font-size:20px;
}



.comment-box input,
.comment-box textarea{

    width:100%;
    padding:10px;
    margin-top:10px;
    border:1px solid #ccc;
    border-radius:5px;
    box-sizing:border-box;

}



.comment-box button{

    width:100%;
    margin-top:15px;
    padding:10px;
    background:#2c3e50;
    color:white;
    border:none;
    border-radius:5px;
    cursor:pointer;

}




   header {
            background: #8B0000;
            color: white;
            text-align: center;
            padding: 30px;
        }



        .hero-image {
            display: block;
            margin: 20px auto;
            width: 400px;
            max-width: 90%;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.3);
        }



        .container {
            width: 80%;
            margin: auto;
            padding: 20px;
        }



        .card {
            background: white;
            padding: 20px;
            margin-top: 20px;
            border-radius: 10px;
            box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        }

     
        
.video-container{
    display: flex;
    justify-content: center;   
    align-items: center;
    margin: 70px ;
}



#bgvideo2{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}




.gallery {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 80px;
    flex-wrap: wrap;
    margin-top: 40px;
}



.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}



.image-container img {
    width: 300px;
    height: 300px;
    cursor: pointer;
}



.info {
    display: none;
    text-align: center;
    margin-top: 20px;
}





.pilihan-warna {
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 20px;
        }



        .warna {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            cursor: pointer;
            border: 2px solid white;
        }



        .blue {
            background-color: blue;
        }



        .pink {
            background-color: hotpink;
        }



        .btn-back-bottom {
        display: inline-block;
        padding: 10px 20px;
        background: #333;
        color: white;
        border-radius: 8px;
        text-decoration: none;
    }



        .red {
            background-color: red;
        }


.dance-card .text p {
    font-size: 20px; 
}


.info a{
    display: inline-block;
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s forwards;
    transition: 0.3s;
}



.info a:hover{
    color: gold;
    transform: scale(1.1);
}



.info a:nth-child(1){
    animation-delay: 0.2s;
}



.info a:nth-child(3){
    animation-delay: 0.5s;
}



.info a:nth-child(5){
    animation-delay: 0.8s;
}



@keyframes fadeUp{
    from{
        opacity:0;
        transform:translateY(20px);
    }
    to{
        opacity:1;
        transform:translateY(0);
    }
}




.section {
    width: 80%;
    margin: 50px;
    padding: 30px;
    background:#da7aed;
    border-radius: 20px;
    text-align: center;
    display: none; /* sembunyikan dulu */
    animation: fadeIn 0.8s ease;
}

.section h2 {
    color: #1b1714;
    font-size: 35px;
}

.section h1{
     color: #1b1714;
}

.section p {
    font-size: 20px;
    line-height: 1.7;
}

.section li{
    font-size: 20px;
}












.language-section{
    width:90%;
    margin:auto;
    padding:60px 0;
}




.title p{
    width:70%;
    margin:auto;
    font-size:18px;
    color:#e5e4dd
}

.card-container{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.card{

    background:white;
    border-radius:20px;
    padding:30px;
    box-shadow:0 12px 25px rgba(0,0,0,.12);

    transition:.4s;
    position:relative;
    overflow:hidden;
}

.card::before{

    content:"";

    position:absolute;
    top:0;
    left:0;

    width:100%;
    height:8px;

    background:linear-gradient(90deg,
    orange,
    white,
    green);

}

.card:hover{

    transform:translateY(-12px);

    box-shadow:0 20px 40px rgba(0,0,0,.2);

}

.card h2{

    color:#8B0000;

    margin-bottom:8px;

    font-size:28px;

}

.state{

    display:inline-block;

    background:#ffe6b8;

    color:#8b0000;

    padding:8px 18px;

    border-radius:30px;

    margin-bottom:20px;

    font-weight:bold;

}

.card ul{

    list-style:none;

}

.card ul li{

    margin:15px 0;

    color:#444;

    line-height:1.6;

}



button:hover{

    letter-spacing:2px;

    transform:scale(1.03);

}

@media(max-width:768px){

.title h1{

font-size:35px;

}

.title p{

width:100%;

}

}



.card-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    padding:20px;
}

.card{
    width:85%;
    max-width:1000px;
    min-height:auto;

    padding:25px;
    border-radius:20px;

    box-sizing:border-box;
    margin:0 auto;
}

.card h2{
    margin-top:0;
}

.li{
    padding: 5px;
}